---
import Story from "@layouts/Story.astro";
import { Image } from "astro:assets";

import title from "@assets/concepts/flappy_title.png";
import game from "@assets/concepts/flappy_game.png";
import over from "@assets/concepts/flappy_complete.png";

import start from "@assets/scenes/T6_Start.jpeg";
import end from "@assets/scenes/T6_End.jpeg";

import Dashie from "@components/Dashie.astro";
import Kion from "@components/Kion.astro";

const images: string[] = [];
for (let i = 0; i < 12; i++) {
    const num = i.toString().padStart(2, "0");
    images.push(`/storyboard/flappy-${num}.png`);
}
---

<Story>
    <Image
        class="rounded-lg"
        src={start}
        alt="Kion falls into the Digital World"
    />
    <h1>Flappy Bird</h1>

    <h2>Story</h2>
    <p>
        Dashie: <Dashie>This is my line</Dashie>
    </p>
    <p>
        Kion: <Kion>This is my line</Kion>
    </p>

    <h2>Concept</h2>
    <Image
        class="rounded-lg"
        src={title}
        alt="Title screen for brickout game with SDL on linux"
    />

    <Image
        class="rounded-lg"
        src={game}
        alt="Gameplay loop for brickout game with SDL on linux"
    />

    <Image
        class="rounded-lg"
        src={over}
        alt="Option 1 for when Kion loses and gets trapped"
    />

    <h2>Program</h2>

    <ol>
        <li>
            <strong>Loading Game Assets</strong>
            <img src={images[0]} />
            <ul>
                <li>Load images for the bird, pipes, and background.</li>
                <li>Set up texture loading with SDL.</li>
            </ul>
        </li>
        <li>
            <strong>Creating the Title Screen</strong>
            <img src={images[1]} />
            <ul>
                <li>Display a title graphic.</li>
                <li>Implement a start button.</li>
            </ul>
        </li>
        <li>
            <strong>Implementing the Game Loop</strong>
            <img src={images[2]} />
            <img src={images[3]} />
            <img src={images[4]} />
            <img src={images[5]} />
            <ul>
                <li>Handle user input (spacebar for bird jump).</li>
                <li>
                    Update the bird's position and velocity based on gravity and
                    user input.
                </li>
                <li>Move pipes horizontally towards the bird.</li>
                <li>
                    Handle collision detection between the bird and pipes or
                    ground.
                </li>
                <li>Render the bird, pipes, and background.</li>
            </ul>
        </li>
        <li>
            <strong>Handling Bird Movement</strong>
            <img src={images[6]} />
            <ul>
                <li>Move the bird upwards when the spacebar is pressed.</li>
                <li>Apply gravity to the bird to simulate falling.</li>
            </ul>
        </li>
        <li>
            <strong>Implementing Pipe Movement</strong>
            <img src={images[7]} />
            <ul>
                <li>Move pipes from right to left towards the bird.</li>
                <li>Randomly generate pipe heights.</li>
                <li>Reposition pipes when they move off-screen.</li>
            </ul>
        </li>
        <li>
            <strong>Ending the Game</strong>
            <img src={images[8]} />
            <img src={images[9]} />
            <ul>
                <li>
                    End the game when the bird collides with a pipe or the
                    ground.
                </li>
                <li>Display a game over message.</li>
            </ul>
        </li>
        <li>
            <strong>Scoring</strong>
            <img src={images[10]} />
            <ul>
                <li>
                    Keep track of and display the player's score (based on
                    number of pipes passed).
                </li>
            </ul>
        </li>
        <li>
            <strong>Creating Success Screen</strong>
            <img src={images[11]} />
            <ul>
                <li>
                    Display a success message when the player achieves a certain
                    score.
                </li>
                <li>Provide an option to restart the game.</li>
            </ul>
        </li>
    </ol>

    <Image
        class="rounded-lg"
        src={end}
        alt="Kion falls into the Digital World"
    />
</Story>
