---
import { ViewTransitions } from "astro:transitions";

import Navbar from "@components/Navbar.astro";
import Drawer from "@components/Drawer.astro";
import Footer from "@components/Footer.astro";

export interface Props {
    title?: string;
    description?: string;
    image?: string;
    canonical?: string;
}

const {
    title = "DashGL",
    description = "A site about open source graphic development",
    image = `${Astro.site}/card.png`,
} = Astro.props;

const author = "Kion @kion_dgl";
const creator = "@kion_dgl";
---

<html lang="en" data-theme="cupcake">
    <head>
        <!-- favicon -->
        <link rel="shortcut icon" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- responsive meta -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=5"
        />

        <!-- HTML Meta -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <link rel="canonical" href={Astro.url} item-prop="url" />
        <meta name="description" content={description} />
        <meta name="author" content={author} />
        <meta property="og:image" content={image} />

        <!-- Open Graph -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />

        <!-- twitter-title -->
        <meta name="twitter:title" content={title} />
        <!-- twitter-description -->
        <meta name="twitter:description" content={description} />
        <meta name="twitter:creator" content={creator} />
        <meta name="twitter:image" content={image} />
        <meta name="twitter:card" content="summary_large_image" />

        <script is:inline src="/registerSW.js"></script>
        <link rel="manifest" href="/manifest.webmanifest" />
        <ViewTransitions />
    </head>
    <body>
        <Drawer />
        <Navbar />
        <article class="pt-20">
            <slot />
        </article>
    
        <Footer />
        <script is:inline>
            document.documentElement.setAttribute(
                "data-theme",
                localStorage.getItem("theme") || "default",
            );
            const inputs = document.getElementsByName("theme-dropdown");
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener("change", () => {
                    const theme = inputs[i].value;
                    document.documentElement.setAttribute("data-theme", theme);
                    localStorage.setItem("theme", theme);
                });
            }
        </script>
    </body>
</html>
